@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  font-size: 62.5%;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #eaf0f3;
  color: #333;
  font-family: 'Roboto', sans-serif;
  font-size: 1.6rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  margin: 0;
  padding: 1rem;
}

h1 {
  color: rgb(179, 131, 226);
  font-size: 16rem;
  text-align: center;
  opacity: 0.4;
}

form {
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  max-width: 100%;
  width: 40rem;
}

.input {
  border: none;
  color: #333;
  font-size: 2.4rem;
  padding: 1.6rem 3rem;
  width: 100%;
}

.input::placeholder {
  color: #d5d5d5;
}

.input:focus {
  outline-color: rgb(179, 131, 226);
}

.todos {
  background-color: #fff;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.todos li {
  border-top: 1px solid #e5e5e5;
  cursor: pointer;
  font-size: 1.8rem;
  padding: 1.4rem 2.2rem;
}

.todos li.completed {
  color: #b6b6b6;
  text-decoration: line-through;
}

small {
  color: #b5b5b5;
  margin-top: 4rem;
  font-size: 1.4rem;
  text-align: center;
}
